DEVICE={{SVC_NIC}}.{{KUBEAPI_VLAN}}
NAME={{SVC_NIC}}.{{KUBEAPI_VLAN}}
ONBOOT=yes
PEERDNS=no
TYPE=vlan
PHYSDEV={{SVC_NIC}}
BOOTPROTO=static
VLAN=yes
ONPARENT=yes
MTU={{MTU}}
IPADDR={{node_ip}}
NETMASK={{node_netmask}}
GATEWAY={{node_gw}}
DNS1={{DNS1}}
DNS2={{DNS2}}
NM_CONTROLLED=yes
IPV6INIT=yes
IPV6_AUTOCONF=yes